.user {
    margin-bottom: 20px;
}

.avatar {

    height: 100px !important;
    max-width: 100px !important;
    width: 100% !important;
}

.user {
    padding: 20px 10px;
}

.userBlock {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.button {
    margin-top: 10px !important;
}

.userName {
    color: #2186c4;
}

.textStatus {
    font-size: 1.2rem;
    overflow-wrap: break-word;
    margin-left: 10px;
    max-width: 238px;
    line-height: 1.1;
}

.statusBloc > span {
    padding-left: 5px;
}

.statusBloc {
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.icon {
    color: #2186c4;
    font-size: 1rem !important;
    margin: 4px 5px 0 5px;
    cursor: pointer;
}

.statusInput {
    margin-left: 10px !important;
    margin-top: 0px !important;
}

@media (max-width: 600px) {
    .textStatus {
        max-width: 100px;
    }
}

