.container {
    position: relative !important;
    margin-top: 30px !important;
}

.containerBorder {
    border: 1px solid rgb(147 152 157);

}

a {
    color: inherit;
    text-decoration: none;
}

.appWrapper {
    min-height: calc(100vh - 174px);
}

a div:hover, a:hover {
    color: #f75411 !important;
    text-decoration: none;
}


@media (max-width: 598px) {
    .navBarApp {
        display: none;
    }
}