.menuBlock {
    display: none;
}

.navBar {
    height: 100vh;
    background: rgb(221 221 229) !important;
}

@media (max-width: 600px) {
    .menuBlock {
        display: block;
    }

    .navBar {
        left: 0;
        bottom: -460px;
        height: 50vh;
        position: absolute;
        background: #fff;
        width: 30%;
        z-index: 99999;
        opacity: 1;

    }

    .navBarMenu:before {
        right: 0;
        content: '';
        background: rgb(136 136 151);
        position: absolute;
        width: 100%;
        height: 100vh;
        opacity: 0.7;
        z-index: 9999;
    }
}