
.list {
    list-style-type: none;
    padding-left: 10px;
}

.list li {
    margin-top: 10px;
}

.item {
    color: #2186c4;
    text-decoration: none;
}

.active {
    color: red;
    text-decoration: none;
}

.container {
    position: relative !important;
}


