.default {
    margin: 10px 5px;
    background-color: #f75411;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    align-self: center;
}

.default:disabled {
    background-color: #e7e7e7;
    color: black;
    opacity: 0.6;
    cursor: not-allowed;
}

.default:disabled:hover {
    background-color: #e7e7e7;
    color: black;
    opacity: 0.6;
    cursor: not-allowed;
}

.default:hover {
    transition: 1s;
    background-color: #41484f;
}

.red {
    background: red;
    margin: 10px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

.red:hover {
    transition: 1s;
    background-color: #a21a1a;
}