.dialogs {
    display: flex;

}

.dialogs ul > li {
    list-style-type: none
}

.dialog {
    color: white;
    text-decoration: none;
}

.message {
    flex-grow: 1;
}

.active {
    color: red;

}

.dialogItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    overflow-y: auto;

}

.addMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
